table.table {
	width: 30%;
}
table.table td {
	display: table-cell;
	vertical-align: middle;
}

table.table input {
	margin: 0;
}

table.table tbody tr td input.PortText {
    margin: 0;
    width: 80px;
}